OPENAI_API_KEY=
OPENAI_BASE_URL=
WRITERYANG_DEFAULT_API_KEY=
WRITERYANG_DEFAULT_BASE_URL=
WRITERYANG_EMBEDDING_API_KEY=
WRITERYANG_EMBEDDING_BASE_URL=
WRITERYANG_REAL_BASE_URL=
WRITERYANG_REAL_API_KEY=
WRITERYANG_REAL_MODEL=
WRITERYANG_REAL_PROVIDER=
DEEPSEEK_BASE_URL=
DEEPSEEK_API_KEY=
DEEPSEEK_V4PRO_MODEL=
ZAI_BASE_URL=
ZAI_API_KEY=
ZAI_MODEL=
DASHSCOPE_API_KEY=
DASHSCOPE_EMBEDDING_BASE_URL=
DASHSCOPE_EMBEDDING_MODEL=
DASHSCOPE_EMBEDDING_DIMENSIONS=
ZHIPU_API_KEY=
ZHIPU_EMBEDDING_BASE_URL=
ZHIPU_EMBEDDING_MODEL=
ZHIPU_EMBEDDING_DIMENSIONS=
WRITERYANG_MODEL_IO_MAX_FILES=
WRITERYANG_MODEL_IO_MAX_BYTES=
WRITERYANG_MODEL_IO_MODE=
WRITERYANG_WEB_MAX_BODY_BYTES=
